.navigationArea {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  align-items: center;
}
.navigationArea h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.contentCardsArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.contentCardsArea a {
  text-decoration: none;
  color: #333;
}

.buttonSeeMore {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.searchBar {
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 60px;
  width: 65%;
  padding: 20px;
}
.searchBar input {
  outline: none;
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.searchImgsvg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
